/**
 * Units
 */
.unit {
    display: table;
    width: 100%;
    position: relative;
    overflow: hidden;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.unit__inner {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.background img {
    display: block;
    max-width: 100%;
}

@media screen and (max-width: 42em) {
    .background img {
        height: 120%;
        max-width: none;
    }
}
